<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>一起笑</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="娱乐，搞笑视频，放松">
<meta name="description" content="搞笑视频,放松心情">
<link href="/images/favicon.ico" rel="shortcut icon" />
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("#but").click(function(){
  $("#topad").hide();
  });
});

</script>
<script type="text/javascript">
$(document).ready(function(){
	$("#goo").click(function(){
	$(".footertext").slideToggle("");
	});	 
});
</script>

<style type="text/css">
<!--

-->
</style>
<link href="css/home.css" rel="stylesheet" type="text/css" />
</head>
<body>


#parse('layout/header.vm')

$screenContent

#parse('layout/footer.vm')

</body>
</html>