 <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
	  <div class="hero-unit">
		
        <h2>${vedio.title}</h2>
		<embed src='$vedioServer$vedio.realPath' type='application/x-shockwave-flash' allowFullScreen='true' width='100%' height='534px' allowNetworking='all' wmode='opaque' allowScriptAccess='always'></embed>
      </div>
      <!-- Example row of columns -->
</div>